{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <div id="about">
        <div class="content">
            <h1 class="heading_mobile">Game Development, AI&nbsp;Research &&nbsp;Deployment</h1>
        </div>
        <div class="banner" style="background-image:url('/uploads/{{ settings.get('banner_image') }}')">
            <h1>Game Development,<br>AI&nbsp;Research &&nbsp;Deployment</h1>
            <img src="assets/images/logo_main.svg" alt="Temporal Games" class="logo_main">
        </div>
        <div class="content">
            <div class="quote">
                <h3>{{ settings.get('banner_text')  }}</h3>
                <p><a href="#jobs" onclick="event.preventDefault();doScrolling('jobs', this)" id="jobs_inner_link">Join us <span class="arrow">&darr;</span></a></p>
            </div>
        </div>
    </div>

    {{ include('product/_list.html.twig') }}

    {{ include('job/_list.html.twig') }}

    <div id="contacts"></div>
    <div class="contacts">
        <div class="content">
            <p class="heading">Get in touch</p>
            <h3 id="delivery">The message has been sent, thank you.</h3>
            <form id="form" onsubmit="submitForm(event)">
                <input type="text" name="name" placeholder="Name" id="name" onfocus="focusIn(this)" onfocusout="focusOut(this, 'Name')">
                <input type="text" name="email" placeholder="E-mail" id="email" onfocus="focusIn(this)" onfocusout="focusOut(this, 'E-mail')">
                <textarea type="text" name="message" placeholder="Message" id="message" onfocus="focusIn(this)" onfocusout="focusOut(this, 'Message')" maxlength="500"></textarea>
                <input type="submit" value="Send message" class="submit"> 
            </form>
        </div>
    </div>
{% endblock %}
